<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Libraries</a></span></li><li><span><a href="#Read-and-Merge-files" data-toc-modified-id="Read-and-Merge-files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read and Merge files</a></span></li><li><span><a href="#Export-files:-pickle-and-csv" data-toc-modified-id="Export-files:-pickle-and-csv-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Export files: pickle and csv</a></span></li></ul></div>

# Libraries

In [12]:
import pandas as pd
import numpy as np
import pickle

# Read and Merge files

In [15]:
# Intialize year list and dataframe
year = list(range(2019, 2023))
df = pd.DataFrame()
cognate_search = pd.DataFrame()

# concatenate dataframes
for y in year:
    globals()["df_" + str(y)] = pd.read_csv("/Volumes/Elements/CF_dataset 2/" + "df_" + str(y) + ".csv")  # read files
    df = pd.concat([df, globals()["df_" + str(y)]])  # concat
    
    globals()["cognate_search_" + str(y)] = pd.read_csv("/Volumes/Elements/CF_dataset 2/" + "cognate_search_" + str(y) + ".csv")  # read files
    cognate_search = pd.concat([cognate_search, globals()["cognate_search_" + str(y)]])  # concat

In [16]:
# View dataframe
display(df.head())
#display(df.info(verbose = True, null_counts= True))

display(cognate_search.head())
#display(cognate_search.info(verbose = True, null_counts = True))

,Unnamed: 0,adsh,report,line,stmt,inpth,tag,version_x,prole,plabel,negating,cik,name,sic,form,aggregation_level,broad_cat,version_y
0,1884297,0001434728-19-000051,7,6,CF,0,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2018,terseLabel,Write-off of debt issuance costs,0,1434728,"GLOBAL WATER RESOURCES, INC.",4941.0,10-K,1,IntExp,us-gaap/2018
1,1884297,0001434728-19-000051,7,6,CF,0,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2018,terseLabel,Write-off of debt issuance costs,0,1434728,"GLOBAL WATER RESOURCES, INC.",4941.0,10-K,1,IntExp,us-gaap/2019
2,1884297,0001434728-19-000051,7,6,CF,0,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2018,terseLabel,Write-off of debt issuance costs,0,1434728,"GLOBAL WATER RESOURCES, INC.",4941.0,10-K,1,IntExp,us-gaap/2020
3,1884297,0001434728-19-000051,7,6,CF,0,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2018,terseLabel,Write-off of debt issuance costs,0,1434728,"GLOBAL WATER RESOURCES, INC.",4941.0,10-K,1,IntExp,us-gaap/2021
4,1884297,0001434728-19-000051,7,6,CF,0,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2018,terseLabel,Write-off of debt issuance costs,0,1434728,"GLOBAL WATER RESOURCES, INC.",4941.0,10-K,1,IntExp,us-gaap/2022

             tag      broad_cat             plabel  counts
0  NetIncomeLoss  Profitability           Net loss   17355
1  NetIncomeLoss  Profitability         Net income    9245
2  NetIncomeLoss  Profitability  Net income (loss)    4710
3  NetIncomeLoss  Profitability           Net Loss    1375
4  NetIncomeLoss  Profitability  Net (loss) income    1360

# Export files: pickle and csv

In [17]:
# To csv
df.to_csv("/Volumes/Elements/CF_dataset 2/data_master.csv")
cognate_search.to_csv("/Volumes/Elements/CF_dataset 2/cognate_search.csv")

# use pickle to store
object_filename = "/Volumes/Elements/CF_dataset 2/df.sav"

saved_model = pickle.dump(df, open(object_filename,'wb'))

print('Dataframe is saved into to disk successfully Using Pickle')

object_filename = "/Volumes/Elements/CF_dataset 2/cognate_search.sav"

saved_model = pickle.dump(df, open(object_filename,'wb'))

print('Dataframe is saved into to disk successfully Using Pickle')


# # Code to retrieve pickle
# # use pickle to retrieve

# file = open("df.sav",'rb')
# df_corr = pickle.load(file)
# file.close()

Dataframe is saved into to disk successfully Using Pickle
Dataframe is saved into to disk successfully Using Pickle

In [18]:
# view cognate_search
cognate_search.groupby(["broad_cat", "tag"])["counts"].sum().reset_index()

    broad_cat                                                tag  counts
0      IntExp                       AmortizationOfFinancingCosts   29148
1      IntExp      DebtRelatedCommitmentFeesAndDebtIssuanceCosts     590
2      IntExp     DistributionsOnMandatorilyRedeemableSecurities      35
3      IntExp                        FinanceLeaseInterestExpense     560
4      IntExp                          GainLossOnNonRecourseDebt      16
..        ...                                                ...     ...
338       Tax  IncomeTaxExpenseBenefitContinuingOperationsAdj...     245
339       Tax                             OtherTaxExpenseBenefit     110
340       Tax      TaxAdjustmentsSettlementsAndUnusualProvisions     170
341       Tax  UnrecognizedTaxBenefitsIncomeTaxPenaltiesAndIn...       5
342       Tax  UnrecognizedTaxBenefitsInterestOnIncomeTaxesEx...       5

[343 rows x 3 columns]